
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


html {
  box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: Lato, sans-serif;
    color: #54575A;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%), #99FA6B;
}

.logo_img{
  position: absolute;
  width: 60px;
  height: 53.39px;
  left: 233px;
  top: 80px;
}

.text2{

  position: absolute;
  width: 394px;
  height: 32px;
  left: 307px;
  top: 73px;

  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #010046;
}

.wrapper {

    position: relative;
    width: 1440px;
    min-height: 100vh;
    margin: auto;
    }

.title{
    position: absolute;
    width: 458px;
    height: 135px;
    left: 221px;
    top: 150px;
    font-style: bold;
    font-weight: 700;
    font-size: 64px;
    line-height: 68px;
    color: #010046;

}

.text{
    position: absolute;
    width: 394px;
    height: 128px;
    left: 221px;
    top: 320px;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #010046;

}

.main_img{
  position: absolute;
  width: 424px;
  height: 398px;
  left: 829px;
  top: 150px;
}

